
<%# include('../partials/html-head') %>

<%- include('../partials/newNav') %>

<link rel="stylesheet" href="/stylesheets/newNav.css">


<% if (ticket.owner.avatar) { %>
  <div>
    <h1>request made by<%= ticket.owner.name %></h1>
    <img src="<%= ticket.owner.avatar %>"/>
  </div>
<% } %>
<h1>assineged to</h1>
<h1><%= ticket.assingedTo %></h1>
<h1>Full Detail</h1>
<h1> <%= ticket.details  %></h1>
<h1>Problems</h1>
<h1><%= ticket.problems %></h1>
<h1>Severity</h1>
<h1><%= ticket.severity %></h1>
<h1>TICKET_ID</h1>
<h1><%= ticket._id  %></h1>
<h1>time</h1>
<td><%= ticket.createdAt.toLocaleDateString()%> </td>

<form method="POST" action="/tickets/<%=ticket._id%>/comments"> 
    <input type="text" name="answer" placeholder=" comments" required> 
    <button type="submit"> add</button>
</form>
<% ticket.comments.forEach(function(comment) { %>

    <h1> <%= comment.answer %> </h1>
    <p> <%= comment.owner %></p>
    
<%}) %> 



