<%- include('../partials/html-head') %>
<%- include('../partials/newNav') %>
<link rel="stylesheet" href="/stylesheets/new.css">

<main> 
  
  
  <h1><%= title %> </h1>
  <form action="/tickets/<%= ticket._id %>?_method=PUT" method="POST" >
  
    <label>assigned to </label>
    <input type="text" name="assingedTo"  required value="<%=ticket.assingedTo%>" >
  
    <label>details </label>
    <input type="text" name="details"  required value="<%=ticket.details%>">
  
    <select name="severity"  required>
      <option value=""selected disable hidden><%=ticket.severity %>  </option>
      <option value="Urgent" > Urgent</option>
      <option value="High"> High </option>
      <option value="Normal"> Normal </option>
      <option value="Low"> Low </option>
    </select>
  
    <select name="problems" required >
      <option value=""selected disable hidden><%=ticket.problems %>  </option>
      <option value="Software">Software</option>
      <option value="Hardware">Hardware</option>
    </select>
  <% if(ticket.owner._id.toString() === user.profile._id.toString()){ %>
    <button type="submit">edit ticket</button>
    <% } %> 
  </form>
  </main>
  <%- include('../partials/footer') %>