<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap-grid.min.css" integrity="sha512-Xj2sd25G+JgJYwo0cvlGWXoUekbLg5WvW+VbItCMdXrDoZRWcS/d40ieFHu77vP0dF5PK+cX6TIp+DsPfZomhw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<main> 
<%= title %>
<h1>this is the tickets page</h1> 
<a href="/tickets/new">new</a>


<% tickets.forEach((ticket)=>{ %>

<div class="card" style="width: 18rem;">

  <div class="card-body">

    <h5 class="card-title">AssingedTo:<%= ticket.assingedTo %></h5>

    <h5 class="time"><%= ticket.createdAt.toLocaleDateString()%></h5>

    <h5 clas="problem">Problem type: <%= ticket.problems %> </h5>

    <h5 class="Severity"><%= ticket.severity %> </h5>
    <h5 class="ID">ID <%= ticket._id  %> </h5>
    
    <p class="card-text"><%= ticket.details  %></p>

    <a href="/tickets/<%= ticket._id %>" class="card-link"> Detail</a> </a>

    <a href="#" class="card-link">Another link</a>
    <a href="#" class="card-link">Delete link</a>
  </div>
</div>
        <td>  <a href="/tickets/<%= ticket._id %>">detail</td>
          <td><a href="/tickets/<%= ticket._id %>/edit">edit </a></td>
          <% if(ticket.owner._id.toString() === user.profile._id.toString()) { %> 
            <td><form action="/tickets/<%=ticket._id%>?_method=DELETE" method="POST">
            <button>X</button></form></td>
          <%} %>
    </tr>
      <% }) %>
      
</table>

</main>
<script src="app.js"></script>












