
<main> 
<%= title %>
<h1>this is the tickets page</h1> 
<a href="/tickets/new">new</a>



<table>
    <thead> 
      <tr>
        <th>assingedTo</th>
        <th>details</th>
        <th>Problems</th>
        <th>Severity</th>
        <th>ID</th>
        <th>detail</th>
      </tr>
    </thead>
    <tr>
      
      <% tickets.forEach((ticket)=>{ %>
        <td><%= ticket.assingedTo %> </td>
        <td><%= ticket.details  %> </td>
        <td><%= ticket.problems %> </td>  
        <td><%= ticket.severity %> </td>
        <td><%= ticket._id  %> </td>
        <td>  <a href="/tickets/<%= ticket._id %>">detail</td>
          <% if(user){%> 
            <td><form action="/tickets/<%=ticket._id%>?_method=DELETE" method="POST"  >
            <button>X</button></form></td>
          <%} %> 
    </tr>
      <% }) %> 

</table>

</main>












