<%- include('../partials/html-head') %>
<link rel="stylesheet" href="stylesheets/new.css">
<%- include('../partials/newNav') %>
<link rel="stylesheet" href="/stylesheets/indexstyle.css"/>



<div class="main-header">  
  <% tickets.forEach((ticket)=>{ %>
    <div class="container"> 
      <div class="assingtedto-date-time">
      <h2 class="card-title">Assinged To:<%= ticket.assingedTo %></h5>
      <h2 class="time"><%= ticket.createdAt.toLocaleDateString()%></h5>
        </div>
      <h2 clas="problem">Problem Type: <%= ticket.problems %> </h5>
      <h2 class="Severity"> Severity: <%= ticket.severity %> </h5>
      <p class="card-text"> <%= ticket.details  %></p>

        <div class="delete-detail-edit"> 
      <a href="/tickets/<%= ticket._id %>" class="card-link"> <button class="btn btn-info" >Detail</button></a> 
        <a href="/tickets/<%= ticket._id %>/edit" class="card-link"> <button class="btn btn-secondary"> edit</button></a>
    <% if(ticket.owner._id.toString() === user.profile._id.toString()) { %> 
      <form action="/tickets/<%=ticket._id%>?_method=DELETE" method="POST">
      <button  class="btn btn-outline-danger">Delete</button></form>
    <%} %>
    </div>
  </div>
<% }) %>
</div>
