<%- include('../partials/html-head') %>
<link rel="stylesheet" href="stylesheets/new.css">
<%- include('../partials/newNav') %>
<link rel="stylesheet" href="/stylesheets/indexstyle.css"/>



<div class="main-header">  
  <% tickets.forEach((ticket)=>{ %>
    <div class="container"> 

      <h2 class="card-title">AssingedTo:<%= ticket.assingedTo %></h5>
      <h2 class="time"><%= ticket.createdAt.toLocaleDateString()%></h5>
      <h2 clas="problem">Problem type: <%= ticket.problems %> </h5>
      <h2 class="Severity"><%= ticket.severity %> </h5>
      <h2 class="ID">ID <%= ticket._id  %> </h5>
      <p class="card-text"><%= ticket.details  %></p>

        <div class="bottom"> 
      <a href="/tickets/<%= ticket._id %>" class="card-link"> <button>Detail</button></a> 
        <a href="/tickets/<%= ticket._id %>/edit" class="card-link"> <button> edit</button></a>
    <% if(ticket.owner._id.toString() === user.profile._id.toString()) { %> 
      <form action="/tickets/<%=ticket._id%>?_method=DELETE" method="POST">
      <button class="button">Delete</button></form>
    <%} %>
    </div>
  </div>
<% }) %>
</div>
